<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Tomeu Canals<br />
                  Rubyist, Student and Linuxer<br />
                  Developer at TwentyPeople Europe<br />
                  TwentyPeople Europe Developers' Leader at TwentyPeople International
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/unrar/">github.com/unrar</a><br />
                  <a href="http://github.com/twentypeople/">github.com/twentypeople</a><br />
                  <a href="mailto:tomeuari@gmail.com">tomeuari@gmail.com</a><br />
                  <a href="http://twentypeopleinternational.blogspot.com">TwentyPeople International Blog</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
